<div class="ConteinerFundo">
    <div class="bordaTable">
        <table class="tableTask">
            <tr>
                <td colspan="4">
                    <div class="filtro">
                        <form action="" >
                            <input type="text">
                            <button>
                                Criar
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <th>
                                <form action="">
                                    <input type="text" value="1" style="display: none;">
                                    <span>Task</span>
                                    <div>
                                        <button class="buttonTask">
                                            <span class="material-symbols-outlined">stylus_note</span>
                                        </button>
                                        <button class="buttonTask">
                                            <span class="material-symbols-outlined">delete</span>
                                        </button>
                                    </div>
                                </form>
                            </th>
                        </tr>
                        <tr>
                            <td>Descrição</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>